@model ASP.NET.Views.Main.MapGetModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    </head>
    <body>


        <form action="Map" method="post">
        <input type="number" name="lat" id="lat" >
        <input type="number" name="lng" id="lng" >
            <input type="submit" value="Дізнатись погоду">
        </form>
    <a href="/AddProduct">Додати продукт</a>
   
    </body>

</html>

